:root {
    --color-pale-violet: hsl(276, 100%, 81%);
    --color-moderate-violet: hsl(276, 55%, 52%);
    --color-desaturated-dark-violet: hsl(271, 15%, 43%);
    --color-grayish-blue: hsl(206, 6%, 79%);
    --color-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --color-dark-grayish-violet: hsl(270, 7%, 64%);
    --color-light-magenta: hsl(293, 100%, 63%);
    --color-light-violet: hsl(264, 100%, 61%);
    --color-white: hsl(0, 0%, 100%);
    --color-bg-white: #FAFAFA;
    --color-light-grayish-violet: hsl(270, 20%, 96%);
    --color-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --color-very-light-magenta: hsl(289, 100%, 72%);
    --color-chat-left-bg: hsl(266, 79%, 94%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: var(--color-bg-white);
}

main {
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    
}

.content {
    max-width: 85rem;
    display: flex;
    height: 65rem;
    

    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}

.content .smartphone {
    min-width: 30rem;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 3rem;
    box-shadow: 0px 0px 1.6rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.content .smartphone .chat-bg {
    background-color: var(--color-light-grayish-violet);
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
}

.content .smartphone .chat-bg .top-bar {
    background: linear-gradient(90deg, var(--color-light-violet), var(--color-light-magenta));
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: flex-end;
}

.content .smartphone .chat-bg .top-bar ::before {
    content: '';
    background-color: var(--color-white);
    width: 15rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.content .smartphone .chat-bg .top-bar .chat-info {
    display: flex;
    align-items: center;
    padding: 0 2rem ;
    margin-bottom: 1rem;
}

.content .smartphone .chat-bg .top-bar .chat-info img {
    height: 1.2rem;
    object-fit: contain;
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-info {
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-info div {
    margin-left: 1.2rem;
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-info div p {
    color: var(--color-white);
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-info div p:first-child {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-info div p:last-child {
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    opacity: 0.7;
    margin-top: 0.4rem;
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-info img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.1rem solid white;
}

.content .smartphone .chat-bg .top-bar .chat-info .avatar-dots {
    margin-left: auto;
}

.content .smartphone .chat-bg .chat-box {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    padding: 1.2rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.content .smartphone .chat-bg .chat-box .message-received {
    padding: 1rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0.4rem;
    background-color: var(--color-chat-left-bg);
    max-width: 70%;
    margin-bottom: 1.2rem;
    color: var(--color-moderate-violet);
}

.content .smartphone .chat-bg .chat-box .message-sent {
    padding: 1rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0.4rem;
    background-color: var(--color-white);
    max-width: 70%;
    margin-bottom: 1.2rem;
    color: var(--color-desaturated-dark-violet);
    margin-left: auto;
}

.content .smartphone .chat-bg .chat-box .images-sent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.content .smartphone .chat-bg .chat-box .images-sent img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1rem;
}


