* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    background-image: url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

header h1 {
    margin-top: 30px;
    font-size: 46px;
}

header p {
    margin-top: 15px;
    text-align: center;
    max-width: 730px;
    font-size: 20px;
}

header .buttons {
    display: flex;
    margin-top: 32px;
}

header .buttons button {
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 14px 32px;
    border-radius: 30px;
    border: 0;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

header .buttons #button-green {
    background-color: hsl(171, 66%, 44%);
    border-bottom: 3px solid hsl(171, 68%, 35%);
}

header .buttons #button-blue {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 3px solid hsl(233, 48%, 49%);
}

header .buttons button:last-child {
    margin-left: 12px;
}

section {
    margin-top: 100px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
}

.section-title p {
    margin-top: 20px;
    line-height: 28px;
    text-align: center;
}

section.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}