* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    background-image: url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

header h1 {
    margin-top: 30px;
    font-size: 46px;
}

header p {
    margin-top: 15px;
    text-align: center;
    max-width: 730px;
    font-size: 20px;
}

.buttons {
    display: flex;
    margin-top: 32px;
}

.buttons button {
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 14px 32px;
    border-radius: 30px;
    border: 0;
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: opacity 0.5s;
    cursor: pointer;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.3);
}

.buttons #button-green {
    background-color: hsl(171, 66%, 44%);
    border-bottom: 3px solid hsl(171, 68%, 35%);
}

.buttons #button-blue {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 3px solid hsl(233, 48%, 49%);
}

.buttons button:last-child {
    margin-left: 12px;
}

.buttons button:hover {
    opacity: 0.7;
}

section {
    margin-top: 100px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
}

.section-title p {
    margin-top: 20px;
    line-height: 28px;
    text-align: center;
}

section.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.introduction .section-content {
    display: flex;
    margin-top: 80px;
}

section.introduction .section-content .computer-image {
    margin-left: -30px;
    position: relative;
    flex: 1;
}

section.introduction .section-content .computer-image img {
    width: 100%;
}

section.introduction .section-content .computer-image >div {
    height: 100%;
    width: 30px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}

section.introduction .section-content .options-list {
    max-width: 50%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.introduction .section-content .options-list .option {
    margin-bottom: 40px;
}

section.introduction .section-content .options-list .option h3 {
    margin-bottom: 20px;
}

section.access {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.access .section-content {
    margin-top: 80px;
}

section.access .section-content img {
    width: 100%;
}

section.workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

section.workflow .section-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 100%;
}

section.workflow .section-content .feature {
    max-width: 350px;
    text-align: center;
}

section.workflow .section-content .feature img {
    height: 36px;
    margin-bottom: 40px;
}

section.workflow .section-content .feature p {
    margin-top: 20px;
}

section.partners {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

section.availability {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: hsla(202, 11%, 66%, 0.1);
}

footer .footer {
    display: flex;
    width: 100%;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
}

footer .footer >img {
    height: 55px;
    padding-right: 20px;
}

footer .footer ul {
    list-style: none;
    max-width: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer .footer ul li a {
    color: hsl(210, 10%, 33%);
    text-decoration: none;
    transition: color 0.5s;
}

footer .footer ul li a:hover {
    color: hsl(171, 66%, 44%);
}

footer .footer .social-media {
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

footer .footer .social-media a {
    color: hsl(210, 10%, 33%);
    transition: color 0.5s;
}

footer .footer .social-media a i {
    font-size: 24px;
}


footer .footer .social-media a:hover {
    color: hsl(171, 66%, 44%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color:  hsl(171, 66%, 44%); 
}

@media (max-width: 768px) {
    body {
        background-image: url('/images/bg-header-mobile.png');
        background-position: 0 0;
    }
    h1, h2 {
        text-align: center;
    }

    .buttons {
        flex-direction: column;
    }
    .buttons button {
        margin-bottom: 20px;
        padding: 14px 80px;
    }
    .buttons button:last-child {
        margin-left: 0;
        margin-bottom: 0;
    }
    header h1 {
        font-size: 32px;
    }
    header p {
        font-size: 18px;
    }
    section.introduction .section-content {
        flex-direction: column;
    }

    section.introduction .section-content .computer-image {
        margin-left: 0;
    }
    
    section.introduction .section-content .computer-image >div {
        display: none;
    }

    section.introduction .section-content .computer-image img {
        width: 100%;
    }

    section.introduction .section-content .options-list {
        max-width: 100%;
        margin-top: 40px;
    }

    section.introduction .section-content .options-list .option {
        text-align: center;
    }

    section.workflow .section-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }

    section.partners {
        flex-direction: column;
        row-gap: 40px;
    }

    footer .footer {
        flex-direction: column;
    }

    footer .footer img {
        padding-right: 0;
        margin-bottom: 40px;
    }

    footer .footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .footer .social-media {
        padding-left: 0;
        margin-top: 40px;
    }
}